@page "/counter"
@implements IDisposable
@inject IMaterialService MaterialService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authenticationStateProvider

<h3 class="page-title">@PageTitle</h3>

<div class="date-range-selector mb-4">
    <span class="date-label">Дата начала:</span>
    <InputDate @bind-Value="StartDate" class="form-control" />

    <span class="date-label">Дата окончания:</span>
    <InputDate @bind-Value="EndDate" class="form-control" />

    <button class="btn-load-data" @onclick="LoadData" disabled="@isLoading">
        @if (isLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="ms-2">Загрузка...</span>
        }
        else
        {
            <span>Загрузить</span>
        }
    </button>
</div>


@if (Materials.Any())
{
    <div class="row">
        <div class="col-4">
            <EditForm Model="Materials" OnValidSubmit="Save">
                <DataAnnotationsValidator />

                <div class="mb-2">
                    <table class="table-custom">
                        <thead>
                            <tr>
                                <th>Наименование материала</th>
                                <th>Масса факт</th>
                                <th>Масса коррект.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Materials.Count; i++)
                            {
                                var mat = Materials[i];
                                <tr @key="mat.Kodn">
                                    <td class="cell-separator">@mat.Name</td>
                                    <td>
                                        <DecimalInputF3 @bind-Value="mat.MassSum"
                                                        class="@(mat.InputCssClass + " editable-input")"
                                                        id="@($"mass-input-{i}")" />
                                    </td>
                                    <td class="cell-separator">
                                        @mat.PreviouslyCorrectedMass?.ToString("F3")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-auto mt-3">
                    <button type="submit" class="btn-save-main" disabled="@isSaving">
                        @if (isSaving)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Сохранение...</span>
                        }
                        else
                        {
                            <span>Сохранить</span>
                        }
                    </button>
                </div>

            </EditForm>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-4">
            <div class="mb-2">
                <table class="table-custom">
                    <thead>
                        <tr>
                            <th>Наименование материала</th>
                            <th>Масса факт</th>
                            <th>Масса коррект.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td style="height: 24px;" class="cell-separator"><span></span></td>
                                <td style="height: 24px;" class="cell-separator"><span></span></td>
                                <td style="height: 24px;" class="cell-separator"><span></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


